@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid lightgray;
    background-color: #fff;
    padding: 30px 100px;
}

.foto-perfil img, .stories img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.stories {
    list-style: none;
    display: flex;
    flex-direction: row;
}