body {
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}



.cont {
    border: 1px solid black;
    text-align: center;
}

.picture {
  position: relative;
}
svg {
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);
}
.img {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}


/*.shape {
  width: auto;
  background-color: #353535;
  position: relative;
  text-align: justify;
  padding: 10px 0 10px 10px;
  transform: rotate(90deg);
}
.shape:after, .shape:before {
  content: "";
  position: absolute;
  left: 100%;
  width: 80px;
  height: 50%;
}
.shape:before {
  top: 0px;
  background: linear-gradient(to top right, #353535 50%, transparent 51%);
}
.shape:after {
  bottom: 0px;
  background: linear-gradient(to bottom right, #353535 50%, transparent 51%);
}*/



.img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

h1,h2,h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.nombre h1 {
    font-size: 5em;
    text-align: left;
}

.nombre h2 {
    font-weight: 300;
    letter-spacing: 0.3em;
}

.nombre {
    border-bottom: 5px solid lightblue;
}

.contact {
    background-color: lightblue;
}

.contact a {
    font-size: 18px;
    align-items: left;
    text-align: left;
}