body {
    text-align:center;
    align-items: center;
}

h1,h2 {
    color: darkblue;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 25px;
    background-color: rgb(184, 184, 184);
}

.header-batman {
    background-color:lightgray;
}

.header-titulo {
    background-color:rgb(184, 184, 184);
}

section {
    text-align: left;
}

ul,dl{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
}

.span {
    font-weight: bold;
    font-style: italic;
}

#footer {
    padding: 5px;
    color: #f4f6fd;
    font-size: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background: rgb(0, 0, 88);
}